
@{
    ViewBag.Title = "About";
}

<h2>O Nas</h2>

<div>
    <strong>Lorem Ipsum</strong>
    <div style="width: 500px;">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Vivamus dignissim aliquam arcu eget blandit. 
            Nam sed nisl bibendum, tempus quam sit amet, tristique metus. 
            Aenean posuere molestie nibh, eget dictum erat imperdiet in. 
            Fusce ultricies turpis at mauris porta, sit amet tincidunt ex consequat. 
            Aenean convallis quis velit id ornare. Curabitur sit amet justo sed leo hendrerit posuere. 
            Vivamus eget pulvinar erat.
        </p>
    </div>

    <strong>Lorem Ipsum</strong>
    <div style="width: 500px;">
        <p>
            Nullam in diam eu mauris venenatis aliquet non eu sapien. Phasellus accumsan faucibus lacinia.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Sed lacinia rhoncus sapien vitae aliquet. 
            Nullam id viverra mauris, id blandit metus. Donec velit tortor, ultricies at luctus eu, pretium scelerisque tortor. 
            Aenean egestas lacinia congue.
        </p>
    </div>
</div>