@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<address>
    Warszawa<br />
    Plac Wolności 34, 35-328<br />
    <abbr title="Telefon">Tel:</abbr>
    +48 153 869 421
</address>

<address>
    <strong>Wsparcie:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>